:root

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #FFFFFF;
}

.container{
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav{
  display: flex;
}

/* Header */
.header{
  background: #FFFFFF;
}

.header-nav{
  display: flex;
  align-items: center;
}

.studio { 
  color: #2e2f42;
}

.logo {
  margin-top: 25.5px;
  margin-bottom: 25.5px;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none
}

/* header-info */
.header-menu {
  text-decoration: none
  
}

.header-menu:hover,
.header-menu:focus {
  color: #404bbf;
}

.menu{display: flex;
  align-items: center;}
.menu li{ margin-right: 40px;}
.menu li:last-child{ margin-right: 0;}


/* address info */
.address{ 
  font-style: normal;
  margin-left: auto;
}

.address-info{
  display: flex;
  
}

.info{ margin-right: 40px;
  text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455; }

.tel{ margin-right: 0;}


.info:hover,
.info:focus{
  color: #404bbf ;
}


.header-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}




/* hero */
.effective{
  text-align: center;
  background: #2E2F42;
  margin-bottom: 120px;
}

.name-effective{
  margin-top: 0;
margin-bottom: 48px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
}

/* button first */
.button-hero {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.text-button{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}

/* advances */
.advances-section{
  margin-bottom: 120px;
}

.advances-list{
  display: flex;
}

.advances-examples{
  width: 264px;}
  
  .advances-examples{
  margin-right: 24px;}
 
  .advances-list li:last-child{ margin-right: 0;}

 .advances{ 
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  }

  .advances-p{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   color: #434455;
 }


/* what we are do */
.working{
  margin-bottom: 120px;
}

.works-list{
  display: flex;
}

.Working-img{margin-right: 24px;}

.works-list li:last-child{
  margin-right: 0;
}

.works{
  margin-top: 0;
  margin-bottom: 72px;
 font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

/* Our Team */
.team{ background: #F4F4FD;
}

.all-team{
  display: flex;
}
.name-team{
  margin-right: 24px;
}

.all-team li:last-child{
  margin-right: 0;
}

.our-team {
  margin-top: 0;
  margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;}

.name-person {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.name-team{
  margin-bottom: 120px;
  background-color: #FFFFFF}

.position { 
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* menu-button portfolio */
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
}

 .button:hover,
 .button:focus {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}

/* portolio */
.examples{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  }
  
  .kind{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
  
    .general{
    text-decoration: none
    }

   .button-hero:hover,
   .button-hero:focus {
    background: #404BBF;
}

 .filtres{
  display: flex;
  }

.button{
  margin-right: 24px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}


/* footer */
.studio-footer {
  color: #F4F4FD;;
}
.footer{
  font-family: 'Raleway', sans-serif;
  background: #2E2F42;
color: #ffffff;}

.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
width: 264px;
}